<template>
  <div>
    <div style="display: flex; justify-content: center; padding: 5px; margin-bottom: 5px;">
      <el-radio v-model="permission" label="admin">Администратор</el-radio>
      <el-radio v-model="permission" label="user1">Пользователь 1</el-radio>
      <el-radio v-model="permission" label="user2">Пользователь 2</el-radio>
    </div>

    <input type="radio" id="docView" value="1" v-model="rbView" />
    <label for="docView">Просмотр документа</label>

    <input type="radio" id="docEdit" value="2" v-model="rbView" />
    <label for="docEdit">Редактировать документ</label>

    <input type="radio" id="docJson" value="3" v-model="rbView" />
    <label for="docJson">Данные JSON</label>

    <input type="radio" id="docHTML" value="4" v-model="rbView" />
    <label for="docHTML">Шаблон</label>




    <button @click="printDocument()">Печать</button>

    <button @click="validate()">Проверить</button>

    <button @click="docVisible=true">DocView</button>

    <FormDoc
      v-if="rbView == 1 || rbView == 2"
      :editing="rbView == 2"
      :docTemplate="template"
      :docFields="fields"
      :docData.sync="mydata"
      :docSpr="spr"
      :docFieldsErrors="errors_"
      id="printMain"
    />
    <div v-if="rbView == 3"><pre id="jsontext" text-align="left" v-html="jsonstr"></pre></div>
    <div v-if="rbView == 4" v-text="template" />
    <iframe id="ifrOutput" style="display:none;"></iframe>

    <FormDocView
      :docVisible.sync="docVisible"
      :docTemplate="template"
      :docFields="fields"
      :docData="mydata"
      :editing="false"
      :docSpr="spr"
      :docFieldsErrors="errors_"      
      @onClose="onClose"
    />

  </div>


</template>

<script>
import FormDoc from './FormDoc'
import FormDocView from './FormDocView'

function syntaxHighlight(json) {
    if (typeof json != 'string') {
         json = JSON.stringify(json, undefined, 2);
    }
    json = json.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
// eslint-disable-next-line
    return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match) {
        var cls = 'number';
        if (/^"/.test(match)) {
            if (/:$/.test(match)) {
                cls = 'key';
            } else {
                cls = 'string';
            }
        } else if (/true|false/.test(match)) {
            cls = 'boolean';
        } else if (/null/.test(match)) {
            cls = 'null';
        }
        return '<span class="' + cls + '">' + match + '</span>';
    });
}

function stringContainsNumber(_string) {
    return /\d/.test(_string);
  }

function uuidv4() {
  return ([1e7]+1e3+4e3+8e3+1e11).replace(/[018]/g, c =>
    (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
  );
}

     let people = {"type":"content",
                   "template": 'Ф.И.О: [[fio]] Дата рождения [[date_s]]',
                   fields: {"fio":{"type":"input"},
                            "num":{"type":"input"},
                            "date_s":{"type":"date"},
                           }
                  };


export default {
  name: 'HelloWorld',
  components: {
    FormDoc,
    FormDocView
  },
  computed: {
    jsonstr: function () {
      return syntaxHighlight(this.mydata)
    },
    errors_: function () {
      this.validate();
      return this.errors;
    },
  },
  data () {
    return {
      docVisible: false,
      rbView: 2,
      permission: 'user1',
      template: `<div class="page"> <center> <b> Документ №  [[num]] </b> </center> 
                  ФИО: [[fio]] <br>
                  Дата рождения [[date_s]] <br> 
                  Пол: [[sex]] <br>
                  Навыки: [[navik]] <br>
                  Место работы: [[works]] <br>
                  Мать: [[mother]] отец: [[father]] 
                  Дети: [[childs]]
                  </div> <div class="page"> Страница 2 </div>`,

      fields: {"fio":{"type":"input", "isReadonly": false},
               "num":{"type":"input", "isReadonly": false},
               "date_s":{"type":"date", "isReadonly": true},
               "sex":{"type":"spr", "spr": "arrSex", "isReadonly": false},
               "navik":{"type":"spr", "spr": "arrNavik", "multiple": true, "isReadonly": true},
               "works":{"type":"table", "isReadonly": true,
                         "columns": { name: {header: "Наименование", "type":"input"},
                                      date_s: {header: "С", "type":"date", "width": 140},
                                      date_e: {header: "По", "type":"date", "width": 140},
                                      uvolen: {header: "Причина ухода", "type":"spr", "spr": "arrUvolen", "multiple": true}
                                     }
                         },
               "father": people,
               "mother": people,
               "childs":{"type":"table", 
                         "columns": { num: {header: "#", "type":"input"},
                                      child: {header: "ребенок", ...people},
                                     }
                         },
              },

      errors: {},
      mydata: { "selDostavlen": { "value": "Скорой помощью", "key": "2" },
                 "childs": [{"key":"fb9d5b3ab7654830922c1c2c7b8deca7", "num":"1"} ,{"key":"fb9d5b3ab7654830922c1c2c7b8deca5", "num":"2", "date_s":"01.01.2020"}],
                 "works": [{"key":"fb9d5b3ab7654830922c1c2c7b8deca3", "name":"Университет 1"} ,{"key":"fb9d5b3ab7654830922c1c2c7b8deca2", "name":"Университет", "date_s":"01.01.2020"}],
                 "father": {"fio":"Моя Фамилия"}
                 //"sex": {key:1, value:"муж"},
                 //"date_s": '01.01.2022'
              },
      spr: {
             "arrSex": [{"value":"Мужской","key":"1"}, {"value":"Женский","key":"2"}],
             "arrNavik": [{"value":"Коммуникабельность","key":1}, {"value":"Стрессоустойчивость","key":2}, {"value":"Порядочность","key":3}, {"value":"Пунктуальность","key":4}],
             "arrUvolen": [ {"value":"","key":""},
                            {"value":"По собственному желанию","key":"1"},
                            {"value":"По соглашению сторон","key":"2"},
                            {"value":"Закончился трудовой договор","key":"3"},
                            {"value":"Трудности в коллеткиве","key":"4"},
                            {"value":"Не поладил с начальством","key":"5"},
                          ]
           },
      permissions: {
        "admin": {
          "fio": false,
          "num": false,
          "date_s": false,
          "sex": false,
          "navik": false,
          "works": false,
        },
        "user1": {
          "fio": true,
          "num": true,
          "date_s": true,
          "sex": true,
          "navik": true,
          "works": false,
        },
        "user2": {
          "fio": false,
          "num": false,
          "date_s": false,
          "sex": false,
          "navik": false,
          "works": true,
        },
      }
    }
  },
  watch: {
    permission(val) {
      this.setUserPermissions(val)
    }
  },
  created() {
    this.setUserPermissions(this.permission)
  },
  methods: {
    setUserPermissions(val) {
      Object.entries(this.permissions[val]).forEach(([key, value]) => {
        this.fields[key].isReadonly = value
      })
    },
    printDocument() {
      this.rbView = 1
      this.$nextTick(() => {
        const printContent = document.getElementById('printMain').innerHTML;
        let output = document.getElementById("ifrOutput").contentWindow;
        output.document.open();
        output.document.write(printContent);
        output.document.close();
        output.focus();
        output.print();
      })
    },
    onClose() {
      this.docVisible = false;
    },
    validate() {
      this.errors = {}
      this.errors.fio = []
      this.errors.sex = []
      this.errors.navik = []
      this.errors.date_s = []
      this.errors.works = {}
      this.errors.childs = {}

      if (!this.mydata.fio) {
        this.errors.fio.push("Поле обязательно для заполнения")
      }
      if ((this.mydata.fio) && ((this.mydata.fio).length < 5)) {
        this.errors.fio.push("Значение поля должно быть более 5 символов")
      }
      if ((this.mydata.fio) && (stringContainsNumber(this.mydata.fio))) {
        this.errors.fio.push("Поле не должно содержать цифры")
      }
      if (!this.mydata.sex) {
        this.errors.sex.push("Поле обязательно для заполнения")
      }
      if (!this.mydata.navik) {
        this.errors.navik.push("Поле обязательно для заполнения")
      }
      if ((this.mydata.navik) && (this.mydata.navik.filter(e => e.key === 1).length === 0) ) {
        this.errors.navik.push("Коммуникабельность обязательна среди навыков")
      }
      if ((this.mydata.navik) && (this.mydata.navik.filter(e => e.key === 3).length === 0) ) {
        this.errors.navik.push("Порядочность обязательна среди навыков")
      }
      if (!this.mydata.date_s)
      {
        this.errors.date_s.push("Дата рождения обязательна для заполнения")
      }

      for (let work_key in this.mydata.works)
      {
        let work = this.mydata.works[work_key]
        if (!work.key) {
          work.key = uuidv4()
        }
        this.errors.works[work.key] = {}
        this.errors.works[work.key]['date_s'] = []
        this.errors.works[work.key]['name'] = []
        this.errors.works[work.key]['date_e'] = []
        this.errors.works[work.key]['uvolen'] = []

        if ((!work.date_s) || (work.date_s === 'Invalid date'))
        {
          this.errors.works[work.key]['date_s'].push("Дата начала обязательна для заполнения")
        }
        if (!work.name)
        {
          this.errors.works[work.key]['name'].push("Наименование не может быть пустым")
        }
        if ((work.name) && (work.name.length < 5))
        {
          this.errors.works[work.key]['name'].push("Наименование не может быть короче 5 символов")
        }
        if ((work.name) && (stringContainsNumber(work.name)) )
        {
          this.errors.works[work.key]['name'].push("В наименование запрещено использовать цифры")
        }
        if ( (work.date_e && work.date_e !== 'Invalid date' ) && ((!work.uvolen) || (work.uvolen === '')) )
        {
          this.errors.works[work.key]['uvolen'].push("При указании даты окончания работы, необходимо укзаать причину")
        }
        if ( ((!work.date_e) || (work.date_e === 'Invalid date')) && ((work.uvolen) && (work.uvolen !== '')) )
        {
          this.errors.works[work.key]['date_e'].push("При указании причины окончания работы, необходимо укзаать дату")
        }
      }

      for (let child_key in this.mydata.childs)
      {
        let child = this.mydata.childs[child_key]
        if (!child.key) {
          child.key = uuidv4()
        }
        this.errors.childs[child.key] = {}
        this.errors.childs[child.key]['num'] = []
        this.errors.childs[child.key]['child'] = {}
      }

    }
  }
}
</script>

<style>

pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; text-align: left;}
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }

</style>
