<template>
  <div>
      <el-table
        :data="valueLocal"
        border
        size="mini"
        :cell-style="{padding: '0', height: '30px', overflow: 'visible'}"
      >
        <el-table-column
          :id="id"
          v-for="(col, key) in columns"
          :key="key"
          :label="col.header"
          :prop="key"
          :width="col.width ? col.width : '' " 
        >
          <template slot-scope="scope">
            <editView v-if="col.type === 'view'" :id="id+'.'+key" v-model="scope.row[key]" :editing="editing" :isReadonly="isReadonly" :errors="errors[scope.row['key']][key]" />
            <editDiv v-if="col.type === 'input'" :id="id+'.'+key" v-model="scope.row[key]" :editing="editing" :isReadonly="isReadonly" :errors="errors[scope.row['key']][key]" />
            <editDate v-if="col.type === 'date'" v-model="scope.row[key]" :id="id+'.'+key" :editing="editing" :isReadonly="isReadonly" :errors="errors[scope.row['key']][key]" />
            <editMultiSelect v-if="col.type === 'spr' && col.multiple === true " :id="id+'.'+key" v-model="scope.row[key]" :options=docSpr[col.spr] :editing="editing" :isReadonly="isReadonly" :errors="errors[scope.row['key']][key]" />
            <editSelect v-if="col.type === 'spr' && col.multiple !== true " :id="id+'.'+key" v-model="scope.row[key]" :options=docSpr[col.spr] :editing="editing" :isReadonly="isReadonly" :errors="errors[scope.row['key']][key]" />
            <formDoc v-if="col.type == 'content'" :id="id+'.'+key" :docTemplate="col.template" :docFields="col.fields" :docData.sync="scope.row[key]" @change="onChange" :editing="editing" :isReadonly="isReadonly" :errors="errors[scope.row['key']][key]"/>
          </template>
        </el-table-column>
        <el-table-column
          fixed="right"
          label=""
          width="50"
          v-if="editing"
        >
          <template slot="header">
            <el-button size="mini" type="primary" @click="handleAdd"> + </el-button>
          </template>
          <template slot-scope="scope">
            <el-button size="mini" type="danger" :disabled="isReadonly" @click="handleDelete(scope.$index, scope.row)"> - </el-button>
          </template>
        </el-table-column>
      </el-table>
  </div>
</template>

<script>
export default {
  name: 'ediTable',
  props: {
    id: {
      type: String,
      default: '',
    },
    value: {
      type: Array,
      default: () => ([]),
    },
    columns: {
      type: Object,
      default: () => ({}),
    },
    editing: {
      type: Boolean,
      default: false,
    },
    isReadonly: {
      type: Boolean,
      default: false
    },
    docSpr: {
      type: Object,
      default: () => ({}),
    },
    errors: {
      type: Object,
      default: () => ({}),
    },
  },
  data () {
    return {
      valueLocal: this.value,
      tekBackgroundColor: '#FFFFFF'
    }
  },
  watch: {
    value: function () {
      this.valueLocal = this.value
    },
  },
  methods: {
      handleDelete(index) {
        this.value.splice(index, 1)
      },
      handleAdd() {
        if (this.isReadonly) return
        this.valueLocal.push({})
      },
    onChange(){
      console.log('log')
      this.$emit('update:value', this.valueLocal)
    },
  },
};
</script>
