<template>
  <span>
    <el-date-picker
      :id="id"
      v-if="isEdit"
      v-model="valueLocal"
      ref="datepicker"
      placeholder="Выберите дату"
      format="dd.MM.yyyy"
      type="date"
      size="mini"
      @change="dateChange($event)"
      @blur="isEdit=false"
    >
    </el-date-picker>  
    <span v-else :id="id" @click="setEditing(true)" contenteditable="false" style="display: inline; padding: 0 10px;" :style="{ backgroundColor: tekBackgroundColor }" > {{ valueLocal | moment("DD.MM.YYYY") }}</span>
    <viewError v-if="!isReadonly" :errors="errors" />
  </span>
</template>

<script>
import viewError from './viewError'

export default {
  name: 'editDate',
  components: {
    viewError
  },
  model: {
    prop: 'value',
    event: 'change'
  },
  data () {
    return {
      isEdit: false,
      valueLocal: '',
      dateFormat: '',
      tekBackgroundColor: '#FFFFFF'
    }
  },
  props: {
    id: {
      type: String,
      default: '',
    },
    value: {
      type: String,
      default: '',
    },
    editing: {
      type: Boolean,
      default: false,
    },
    isReadonly: {
      type: Boolean,
      default: false
    },
    errors: {
      type: Array,
      default: () => ([]),
    },
  },
  mounted() {
    this.valueLocal = this.parseDateFromStr()
    this.setBackground()
  },
  watch: {
    value: function () {
      this.valueLocal = this.parseDateFromStr()
    },
    editing: function () {
      this.setBackground()
    }
  },
  methods: {
    dateChange(){
      this.isEdit = false
      this.$emit('change', this.$moment(String(this.valueLocal)).format(this.dateFormat))
    },
    setEditing(){
      if (!this.editing || this.isReadonly) { return; }
      this.isEdit = true
      if (this.valueLocal.length > 8) {
        this.valueLocal = this.$moment(new Date(), this.dateFormat)
      }
      this.$nextTick(() => { this.$refs.datepicker.focus(); })
    },
    parseDateFromStr()
    {
      this.dateFormat = 'DD.MM.YYYY'
      if (this.value === '') {
        return ''
      }
      if (this.value === undefined) {
        return ''
      }

      let dateFormats = ['DD.MM.YYYY', 'YYYY.MM.DD', 'YYYY/MM/DD', 'DD/MM/YYYY', 'DD-MM-YYYY', 'YYYY-MM-DD'];

      for (let frmt of dateFormats) {
        if (this.$moment(this.value, frmt).format(frmt) === this.value.substring(0, frmt.length)) {
          this.dateFormat = frmt
          return this.$moment(this.value, frmt)
        }
      }
      return '  .  .    '
    },
    setBackground() {
      if (this.editing) {
        this.tekBackgroundColor = '#e6f7ff'
      }
      else {
        this.tekBackgroundColor = '#FFFFFF'
      }
    },
  },
};
</script>

<style scoped>
.el-date-editor.el-input, .el-date-editor.el-input__inner {
  width: 140px !important;
}
</style>