<template>
  <span :id="id" style="padding: 0 10px;" :style="{ backgroundColor: tekBackgroundColor }"
    ref="editable"
    :contenteditable = "false"
    v-html="valueLocal"
  />
</template>

<script>
export default {
  name: 'ediView',
  props: {
    id: {
      type: String,
      default: '',
    },
    value: {
      type: String,
      default: '',
    },
    editing: {
      type: Boolean,
      default: false,
    },
  },
  data () {
    return {
      valueLocal: this.value,
      tekBackgroundColor: '#FFFFFF'
    }
  },
  watch: {
    value: function () {
      this.valueLocal = this.value
    },
    editing: function () {
      this.setBackground()
    }
  },
  mounted() {
    this.setBackground()
  },
  methods: {
    setBackground() {
      if (this.editing) {
        this.tekBackgroundColor = '#e6fff7'
      }
      else {
        this.tekBackgroundColor = '#FFFFFF'
      }
    },
  },
};
</script>