<template>
  <span style="display: inline;">
    <el-select 
      :id="id"
      v-model="valueLocal" 
      placeholder="Выберите" 
      automatic-dropdown 
      ref="selector" 
      v-if="isEdit"
      size="mini"
      @change="onChange($event)"
      @visible-change="visibleHandler"
      :style="{'width': calcWidth() + 'px !important'}"
      multiple
    >
      <el-option
        v-for="item in options"
        :key="item.key"
        :label="item.value"
        :value="item"
      >
      </el-option>
    </el-select>
    <span v-else :id="id" ref="editable" :contenteditable="editing && !isReadonly" @click="setEditing(true)" style=" display: inline; padding: 0 10px;" :style="{ backgroundColor: tekBackgroundColor }"> {{ viewValue }}</span>
    <viewError v-if="!isReadonly" :errors="errors" />
  </span>
</template>

<script>
import viewError from './viewError'

export default {
  name: 'editMultiSelect',
  components: {
    viewError
  },
  model: {
    prop: 'value',
    event: 'change'
  },
  data () {
    return {
      isEdit: false,
      valueLocal: [],
      tekBackgroundColor: '#FFFFFF'
    }
  },
  props: {
    id: {
      type: String,
      default: '',
    },
    value: {
      type: Array,
      default: () => ([]),
    },
    editing: {
      type: Boolean,
      default: false,
    },
    isReadonly: {
      type: Boolean,
      default: false
    },
    options: [],
    errors: {
      type: Array,
      default: () => ([]),
    },
  },
  computed: {
    viewValue() {
      return this.valueLocal.reduce(function(value, current) {
        return value + ( value.length == 0 ? '' : ', ') + current.value;
      }, '')
    },
  },
  mounted() {
    this.valueLocal = [...this.value]
    this.setBackground()
  },
  watch: {
    value: function () {
      this.valueLocal = [...this.value]
    },
    editing: function () {
      this.setBackground()
    }
  },
  methods: {
    visibleHandler(isVisible) {
      if (!isVisible) this.isEdit = false 
    },
    setEditing(){
      if (!this.editing || this.isReadonly) { return; }
      this.isEdit = true
      this.$nextTick(() => { this.$refs.selector.focus() })
    },
    onChange(){
      this.isEdit = false
      this.$emit('change', this.valueLocal)
    },
    calcWidth(){
      return this.valueLocal.reduce(function(value, current) {
        return value + ', ' + current.value.length*8;
      }, 50)
    },
    setBackground() {
      if (this.editing) {
        this.tekBackgroundColor = '#e6f7ff'
      }
      else {
        this.tekBackgroundColor = '#FFFFFF'
      }
    },
  },
};
</script>
