<template>
  <span>
  <span :id="id" style="padding: 0 10px;" :style="{ backgroundColor: tekBackgroundColor }"
    ref="editable"
    :contenteditable="editing && !isReadonly"
    v-on="listeners"
    v-html="valueLocal"
  />
  <viewError v-if="!isReadonly" :id="id" :errors="errors" />
  </span>
</template>

<script>
import viewError from './viewError'

export default {
  name: 'ediDiv',
  components: {
    viewError
  },
  props: {
    id: {
      type: String,
      default: '',
    },
    value: {
      type: String,
      default: '',
    },
    editing: {
      type: Boolean,
      default: false,
    },
    isReadonly: {
      type: Boolean,
      default: false
    },
    errors: {
      type: Array,
      default: () => ([]),
    },
  },
  data () {
    return {
      valueLocal: this.value,
      tekBackgroundColor: '#FFFFFF'
    }
  },
  watch: {
    value: function () {
      this.$refs.innerText = this.value
    },
    editing: function () {
      this.setBackground()
    }
  },
  mounted() {
    this.$refs.innerText = this.value
    this.setBackground()
  },
  computed: {
    listeners() {
      return { ...this.$listeners, input: this.onInput }
    },
  },
  methods: {
    onInput(e) {
      this.$emit('input', e.target.innerText)
    },
    setBackground() {
      if (this.editing) {
        this.tekBackgroundColor = '#e6f7ff'
      }
      else {
        this.tekBackgroundColor = '#FFFFFF'
      }
    },
  },
};
</script>