<template>
    <el-dialog
      :visible.sync="docVisible"
      :show-close="false"
      fullscreen
    >
      <span slot="title" style="float:right">
        <div v-if="editing">
          <el-button type="success" @click="; editing = false" size=mini>Сохранить</el-button>
          <el-button type="danger" @click="editing = false" size=mini>Отмена</el-button>
          <el-button type="primary" @click="Close" size=mini>Закрыть</el-button>
        </div>
        <div v-else>
          <el-button type="primary" @click="printDocument()" size=mini>Печать</el-button>
          <el-button type="primary" @click="editing = true" size=mini>Редактировать</el-button>
          <el-button type="primary" @click="Close" size=mini>Закрыть</el-button>
        </div>
      </span>
      <div class="doc">
        <formDoc
          :docTemplate="docTemplate"
          :docFields="docFields"
          :docData="docData"
          :editing="editing"
          :docSpr="docSpr"
          :docFieldsErrors="docFieldsErrors"
          id="MainPrint"
          :visible="true"
        />
        <iframe id="ifrOutput" style="display:none;"></iframe>
      </div>
    </el-dialog>
</template>

<script>
import formDoc from './FormDoc'

export default {
  name: 'formDocView',
  components: {
    formDoc,
  },
  data () {
    return {
      editing: false,
    }
  },
  mounted () {
    this.editing = this.docEditing;
  },
  props: {
    docVisible: {
      type: Boolean,
      default: false,
    },
    docEditing: {
      type: Boolean,
      default: false,
    },
    docData: {
      type: Object,
      default: () => ({}),
    },
    docRule: {
      type: Object,
      default: () => ({}),
    },
    docTemplate: {
      type: String,
      default: '',
    },
    docFields: {
      type: Object,
      default: () => ({}),
    },
    docFieldsErrors: {
      type: Object,
      default: () => ({}),
    },
    docSpr: {
      type: Object,
      default: () => ({}),
    },
  },
  methods:
  {
    Close () {
      this.$emit('onClose')
    },
    printDocument() {
      const printContent = document.getElementById('MainPrint').innerHTML;
      let output = document.getElementById("ifrOutput").contentWindow;
      output.document.open();
      output.document.write(printContent);
      output.document.close();
      output.focus();
      output.print();
    },
  }
}
</script>

<style>

pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; text-align: left;}
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }

</style>
