<script>
import Vue from 'vue'


let templateRenderFns = []

export default {
  name: 'formDoc',
  props: {
    id: {
      type: String,
      default: 'formDoc',
    },
    editing: {
      type: Boolean,
      default: false,
    },
    isReadonly: {
      type: Boolean,
      default: false
    },
    docData: {
      type: Object,
      default: () => ({}),
    },
    docRule: {
      type: Object,
      default: () => ({}),
    },
    docTemplate: {
      type: String,
      default: '',
    },
    docFields: {
      type: Object,
      default: () => ({}),
    },
    docFieldsErrors: {
      type: Object,
      default: () => ({}),
    },
    docSpr: {
      type: Object,
      default: () => ({}),
    },
  },
  data () {
    return {
      template: '',
      tableHeight: 0,
      documData: null,
      documFields: null,
      documFieldsErrors: null,
      templateRender: null,
      documRule: null,
      compiledTemplate: Vue.compile("<div></div>"),
    }
  },
  mounted () {
    this.DocumData = this.docData;
    this.template = this.docTemplate;
    this.documFields = this.docFields;
    this.documFieldsErrors = this.docFieldsErrors;
    this.RenderDocument();
  },
  watch: {
    docData() {
      this.DocumData = this.docData;
      this.RenderDocument()
    },
    docRule() {
      this.DocumRule = this.docRule;
    },
    docTemplate() {
      this.template = this.docTemplate;
      this.RenderDocument()
    },
    docFields() {
      this.documFields = this.docFields;
      this.RenderDocument()
    },
    docFieldsErrors() {
      this.documFieldsErrors = this.docFieldsErrors;
    },
  },
  render(h) {
    return h('div', [
      (this.templateRender ?
        this.templateRender() :
        '')
    ]);
  },
  staticRenderFns: templateRenderFns,
  methods: {
    compilledTemplate: function (template, fields) {
      if (fields) {
        this.compiledTemplate = Vue.compile(this.preParedTemplate(template, fields))
      }
      else {
        this.compiledTemplate = Vue.compile(template)
      }
      this.template = template
      this.templateRender = this.compiledTemplate.render
      templateRenderFns.length = 0;
      for (let i in this.compiledTemplate.staticRenderFns) {
        templateRenderFns.push(this.compiledTemplate.staticRenderFns[i]);
      }
    },
    async RenderDocument () {
      this.compilledTemplate(this.template, this.documFields)
    },
    async SaveDocument() {
    },
    preParedTemplate: function (template, fields) {
      for (let prop in fields) {
        if (!this.DocumData[prop]) {
          this.$set(this.DocumData, prop)
        }
        let field = fields
        if (field[prop].type === "view") {
          template = template.replace(`[[${prop}]]`, `<editView :id="id+'.'+'${prop}'" v-model="DocumData.${prop}" :editing="editing" />`)
        }
        if (field[prop].type === "input") {
          if (!this.DocumData[prop]) {
            this.$set(this.DocumData, prop, '')
          }
          template = template.replace(`[[${prop}]]`, `<editDiv :id="id+'.'+'${prop}'" v-model="DocumData.${prop}" :editing="editing" :isReadonly="docFields['${prop}'].isReadonly" :errors="documFieldsErrors.${prop}" />`)
        }
        if (field[prop].type === "date") {
          template = template.replace(`[[${prop}]]`, `<editDate :id="id+'.'+'${prop}'" v-model="DocumData.${prop}" @change="${field[prop].change}; onChange" :editing="editing" :isReadonly="docFields['${prop}'].isReadonly" :errors="documFieldsErrors.${prop}" />`)
        }
        if (field[prop].type === "spr") {
          if ((field[prop].multiple) && (field[prop].multiple === true)) {
            if (!this.DocumData[prop]) {
              this.$set(this.DocumData, prop, [])
            }
            template = template.replace(`[[${prop}]]`, `<editMultiSelect :id="id+'.'+'${prop}'" v-model="DocumData.${prop}" :options="docSpr.${field[prop].spr}" @change="${field[prop].change}; onChange" :editing="editing" :isReadonly="docFields['${prop}'].isReadonly" :errors="documFieldsErrors.${prop}" />`)
          }
          else {
            if (!this.DocumData[prop]) {
              this.$set(this.DocumData, prop, {})
            }
            template = template.replace(`[[${prop}]]`, `<editSelect :id="id+'.'+'${prop}'" v-model="DocumData.${prop}" :options="docSpr.${field[prop].spr}" @change="${field[prop].change}; onChange" :editing="editing" :isReadonly="docFields['${prop}'].isReadonly" :errors="documFieldsErrors.${prop}" />`)
          }
        }
        if (field[prop].type === "table") {
          if (!this.DocumData[prop]) {
            this.$set(this.DocumData, prop, {})
          }
          template = template.replace(`[[${prop}]]`, `<editTable :id="id+'.'+'${prop}'" v-model="DocumData.${prop}" :columns="docFields['${prop}'].columns" :docSpr="docSpr" @change="${field[prop].change}; onChange" :editing="editing" :isReadonly="docFields['${prop}'].isReadonly" :errors="documFieldsErrors.${prop}" />`)
        }
        if (field[prop].type === "content") {
          if (!this.DocumData[prop]) {
            this.$set(this.DocumData, prop, {})
          }
          template = template.replace(`[[${prop}]]`, `<formDoc :id="id+'.'+'${prop}'" :docTemplate="docFields['${prop}'].template" :docFields="docFields['${prop}'].fields" :docData.sync="DocumData.${prop}" @change="${field[prop].change}; onChange"  :editing="editing" :isReadonly="docFields['${prop}'].isReadonly" :errors="documFieldsErrors.${prop}" />`)
        }
      }
      return `<div :id='id'>` + template + `</div>`
    },
    onChange(){
      console.log('-- log --')
      this.$emit('update:docData', this.DocumData)
      this.$emit('change')
    },
    showMessage(amsg, atype) {
      this.$message({
        message: amsg,
        type: atype
      })
    },
    dateFromStr(astr)
    {
      this.dateFormat = 'DD.MM.YYYY'
      if (astr === '') {
        return ''
      }
      if (astr === undefined) {
        return ''
      }

      let dateFormats = ['DD.MM.YYYY', 'YYYY.MM.DD', 'YYYY/MM/DD', 'DD/MM/YYYY', 'DD-MM-YYYY', 'YYYY-MM-DD'];

      for (let frmt of dateFormats) {
        if (this.$moment(astr, frmt).format(frmt) === astr.substring(0, frmt.length)) {
          return this.$moment(astr, frmt)
        }
      }
      return ''
    },
    calcDate(adate1, adate2) {
      let date1 = new Date()
      if (adate1 !== undefined) {date1 = this.dateFromStr(adate1)}
      let date2 = new Date()
      if (adate2 !== undefined) {date2 = this.dateFromStr(adate2)}

      const diff = Math.floor(new Date(date1).getTime() - new Date(date2).getTime());
      const day = 1000 * 60 * 60 * 24;

      const days = Math.floor(diff/day);
      const months = Math.floor(days/31) % 12;
      const years = Math.floor(days/31/12);

      let message = ""
      if (years > 0 ) {
        message += years 
        if (years === 1 ) {
          message += " год "
        }
        else if ((years > 1 ) && (years < 4 )) {
          message += " года "
        }
        else {
          message += " лет "
        }
      }
      message += months
      if (months === 1 ) {
        message += " месяц "
      }
      else if ((months > 1 ) && (months < 4 )) {
        message += " месяца "
      }
      else {
        message += " месяцев "
      }

      return message
    }
  }
}
</script>

<style scoped>
    body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        background: rgb(204,204,204); 
        font: 12pt "Tahoma";
    }
    * {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    .page {
        width: 210mm;
        min-height: 297mm;
        max-height: 297mm;
        height: 297mm;
        padding: 20mm;
        margin: 0mm auto;
        border: 1px #D3D3D3 solid;
        border-radius: 5px;
        background: white;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }
    .subpage {
        padding: 1cm;
        border: 5px red solid;
        height: 257mm;
        outline: 2cm #FFEAEA solid;
    }
    
    @page {
        size: A4;
        margin: 0;
    }
    @media print {
        html, body {
            width: 210mm;
            height: 297mm;        
        }
        .page {
            margin: 0;
            border: initial;
            border-radius: initial;
            width: initial;
            min-height: initial;
            box-shadow: initial;
            background: initial;
            page-break-after: always;
        }
    }
</style>
