<template>
  <span>
  <el-popover
    placement="right"
    width="200"
    trigger="hover"
	v-if="textError != ''"
	>
      <div v-html="textError" />
      <el-badge slot="reference" :value="errors.length" class="item">
        <div style="color: #FF0000;"> &nbsp;&nbsp; </div>
      </el-badge>
  </el-popover>
  </span>
</template>

<script>
export default {
  name: 'viewError',
  props: {
    errors: {
      type: Array,
      default: () => ([]),
    },
  },
  computed: {
    textError() {
      return this.errors.reduce(function(value, current) {
        return value + ( value.length == 0 ? '' : '<br> ') + '- ' + current
      }, '')
    },
  },
};
</script>

<style scoped lang='scss'>
    .item {
        margin-top: 10px;
        margin-right: 10px;
    }
</style>